@charset "UTF-8";
/* Couleur du logo */
/* Variables La note enchantée */
/* Variables Le délice des papilles */
/* Variables Le chic à la française */
/* Variables La palette du goût */
/* Animation "wiggles" des buttons du footer */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Animation ... du button prochainement */
@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

/* Menus du contenu */
/* Dégradé de couleurs des titres */
/* Police "Le chic à la française */
@font-face {
  font-family: 'CroissantOne';
  src: url("base/croissant-one/CroissantOne-Regular.ttf");
}

/* Police "Le délice des papilles */
@font-face {
  font-family: 'Dancing';
  src: url("base/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

/* Police "La note enchantée */
@font-face {
  font-family: 'Devonshire';
  src: url("base/Devonshire/Devonshire-Regular.ttf");
}

@font-face {
  font-family: 'Nickainley';
  src: url("base/Nickainley/Nickainley-Normal.ttf");
}

/* Police "La palette du goût */
@font-face {
  font-family: 'Kaushan';
  src: url("base/kaushan-script/KaushanScript-Regular.otf");
}

/* Police h1 des pages menu */
@font-face {
  font-family: 'Playtime';
  src: url("base/Playtime/playtime.ttf");
}

.prochainement {
  color: #fdca50;
  background-color: #559c88;
  border: none;
  border-radius: 8px;
  margin-bottom: 25px;
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
}

.prochainement h2 {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.prochainement h2 .point {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.prochainement h2 .point:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.prochainement h2 .point:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

html {
  background-color: #559c88;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header a {
  text-decoration: none;
}

body header a h1 {
  color: #fdca50;
  background-color: #559c88;
  width: 100%;
  text-align: center;
  font-size: 45px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
}

@media (max-width: 599px) {
  body header a h1 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #559c88;
  padding: 15px 20px 15px 20px;
  position: -webkit-sticky;
  position: sticky;
  /* Fixe footer en bas                */
  bottom: 0px;
  /* fonctionne avec position: sticky; */
}

footer button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #559c88;
}

footer button :hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer button a {
  color: #fdca50;
  background-color: #559c88;
  display: block;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 599px) {
  footer button a {
    font-size: 15px;
  }
}

body h1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Playtime';
}

body .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
}

body .contenu .menus {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .contenu .menus > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .contenu .menus > div .conteneur_menu {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

body .contenu .menus > div .conteneur_menu a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

body .contenu .menus > div .conteneur_menu a h2, body .contenu .menus > div .conteneur_menu a h3 {
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0;
}

@media (max-width: 599px) {
  body .contenu .menus > div .conteneur_menu a h2, body .contenu .menus > div .conteneur_menu a h3 {
    font-size: 15px;
  }
}

body .contenu .menus > div .conteneur_menu a .zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

body .contenu .menus > div .conteneur_menu a:hover .zoom {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.65;
}

body .contenu .menus > div .conteneur_menu .note {
  font-family: 'Devonshire';
  background-color: #fcdfdb;
  border: 2px solid #fcdfdb;
  -webkit-box-shadow: 3px 3px 4px grey;
          box-shadow: 3px 3px 4px grey;
}

body .contenu .menus > div .conteneur_menu .note h2 {
  color: black;
  font-size: 20px;
}

@media (max-width: 599px) {
  body .contenu .menus > div .conteneur_menu .note h2 {
    font-size: 16px;
  }
}

body .contenu .menus > div .conteneur_menu .note h3 {
  color: black;
  font-size: 35px;
}

@media (max-width: 599px) {
  body .contenu .menus > div .conteneur_menu .note h3 {
    font-size: 15px;
  }
}

body .contenu .menus > div .conteneur_menu .chic {
  font-family: 'CroissantOne';
  background-color: #fff5fe;
  border: 2px solid #fff5fe;
  -webkit-box-shadow: 3px 3px 4px grey;
          box-shadow: 3px 3px 4px grey;
}

body .contenu .menus > div .conteneur_menu .chic h2 {
  font-size: 15px;
  background-image: linear-gradient(135deg, #c7741d, #a66798, #6e4cc9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

body .contenu .menus > div .conteneur_menu .chic h3 {
  color: #c7741d;
}

body .contenu .menus > div .conteneur_menu .delice {
  font-family: 'Dancing';
  background-color: #f9f9f9;
  border: 2px solid #f9f9f9;
  -webkit-box-shadow: 3px 3px 4px grey;
          box-shadow: 3px 3px 4px grey;
}

body .contenu .menus > div .conteneur_menu .delice h2 {
  background-image: linear-gradient(135deg, #0216d9, #0070f0, #189df6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

body .contenu .menus > div .conteneur_menu .delice h3 {
  color: #0070f0;
}

body .contenu .menus > div .conteneur_menu .palette {
  font-family: 'Kaushan';
  background-color: #fdfffd;
  border: 2px solid #fdfffd;
  -webkit-box-shadow: 3px 3px 4px grey;
          box-shadow: 3px 3px 4px grey;
}

body .contenu .menus > div .conteneur_menu .palette h2 {
  background-image: linear-gradient(135deg, #3e9642, #70bf5d, #c1fb94);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

body .contenu .menus > div .conteneur_menu .palette h3 {
  color: #70bf5d;
}

body .contenu .carte {
  padding-bottom: 50px;
}

body .contenu .carte section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contenu .carte section .partie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

body .contenu .carte section .partie .vertical-mirror {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

body .contenu .carte section .partie h3 {
  position: relative;
}

body .contenu .carte section .partie h3:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  /* Prend la couleur  actuelle du texte */
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

body .contenu .carte section .partie h3:hover:before {
  width: 100%;
}

body .contenu .carte table {
  width: 85%;
}

body .contenu .carte table .plat {
  text-align: left;
  padding-bottom: 5px;
  padding-top: 10px;
}

body .contenu .carte table .prix {
  text-align: right;
  padding-bottom: 5px;
  padding-top: 10px;
}

@media (max-width: 599px) {
  body .contenu .carte table .prix {
    width: 30%;
  }
}

.mentions_legales {
  padding: 40px;
  font-size: 15px;
}

@media (max-width: 599px) {
  .mentions_legales {
    font-size: 13px;
    text-align: justify;
  }
}

.mentions_legales h1 {
  text-align: center;
  color: #559c88;
  text-decoration: underline;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 0;
}

@media (max-width: 599px) {
  .mentions_legales h1 {
    font-size: 30px;
  }
}

.mentions_legales h2 {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: #559c88;
  margin-bottom: 50px;
}

@media (max-width: 599px) {
  .mentions_legales h2 {
    margin-bottom: 25px;
  }
}

.mentions_legales h3 {
  font-size: 20px;
}

@media (max-width: 599px) {
  .mentions_legales h3 {
    text-align: center;
    font-size: 17px;
  }
}

.mentions_legales .article {
  color: #fdca50;
}

.mentions_legales .intro {
  text-align: center;
}

.la_note_enchantée {
  font-family: 'Nickainley';
  border: 1px solid #fcdfdb;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
  background-color: #fcdfdb;
  width: 85%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.la_note_enchantée h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: 'Devonshire';
}

@media (max-width: 599px) {
  .la_note_enchantée h2 {
    font-size: 32px;
  }
}

.la_note_enchantée h3 {
  font-size: 30px;
  font-family: 'Devonshire';
}

@media (max-width: 599px) {
  .la_note_enchantée h3 {
    font-size: 25px;
  }
}

.la_note_enchantée table {
  font-size: 20px;
}

@media (max-width: 599px) {
  .la_note_enchantée table {
    font-size: 15px;
  }
}

.la_note_enchantée .titre_bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.la_note_enchantée .titre_bas h4 {
  margin-left: 10px;
}

.la_palette_du_gout {
  font-family: 'Kaushan';
  border: 1px solid #fdfffd;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
  background-color: #fdfffd;
  width: 85%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.la_palette_du_gout h1 {
  font-size: 28px;
}

.la_palette_du_gout h2 {
  font-size: 40px;
  font-weight: normal;
  background-image: linear-gradient(135deg, #3e9642, #70bf5d, #c1fb94);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

@media (max-width: 599px) {
  .la_palette_du_gout h2 {
    font-size: 32px;
  }
}

.la_palette_du_gout .partie h3 {
  font-size: 30px;
}

@media (max-width: 599px) {
  .la_palette_du_gout .partie h3 {
    font-size: 22px;
  }
}

.la_palette_du_gout table {
  font-size: 20px;
}

@media (max-width: 599px) {
  .la_palette_du_gout table {
    font-size: 16px;
  }
}

.le_chic_a_la_francaise {
  font-size: 18px;
  border: 1px solid #fff5fe;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
  background-color: #fff5fe;
  width: 85%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.le_chic_a_la_francaise h2 {
  font-size: 35px;
  font-family: 'CroissantOne';
  background-image: linear-gradient(135deg, #c7741d, #a66798, #6e4cc9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

.le_chic_a_la_francaise h3 {
  font-size: 20px;
  font-family: 'CroissantOne';
}

.le_chic_a_la_francaise svg {
  fill: currentColor;
}

.le_chic_a_la_francaise .entrees {
  color: #c7741d;
}

.le_chic_a_la_francaise .plats {
  color: #a66798;
}

.le_chic_a_la_francaise .desserts {
  color: #6e4cc9;
}

.le_chic_a_la_francaise table {
  font-size: 15px;
}

.le_delice_des_papilles {
  font-family: 'Dancing';
  font-size: 18px;
  border: 1px solid #f9f9f9;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
  background-color: #f9f9f9;
  width: 85%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
  padding-top: 40px;
}

.le_delice_des_papilles h2 {
  font-size: 42px;
  background-image: linear-gradient(135deg, #0216d9, #0070f0, #189df6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

@media (max-width: 599px) {
  .le_delice_des_papilles h2 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.le_delice_des_papilles .partie h3 {
  font-size: 22px;
}

.le_delice_des_papilles table {
  font-size: 20px;
}

@media (max-width: 599px) {
  .le_delice_des_papilles table {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */