/* Menus du contenu */
@mixin backgroundAndShadow($backgroundColor) {
	background-color: $backgroundColor;   
    box-shadow: 3px 3px 4px grey;
}

@mixin ProprietesCommunesPage($backgroundColor) {
    box-shadow: 1px 1px 2px grey ;
    background-color: $backgroundColor;
    width: 85%;
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    padding-top: 40px;
}

/* Dégradé de couleurs des titres */
@mixin gradientColor($orientation, $startColor, $middleColor, $endColor) {
    background-image: linear-gradient($orientation, $startColor, $middleColor, $endColor);
    
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
       -moz-text-fill-color: transparent;
            text-fill-color: transparent;
}