/* Menus du contenu */
@mixin backgroundBorderAndShadow($backgroundColor) {
	background-color: $backgroundColor;
    border: 2px solid $backgroundColor;   
    box-shadow: 3px 3px 4px grey;
}

@mixin backgroundBorderAndShadowPage($backgroundColor) {
    border: 1px solid $backgroundColor;
    box-shadow: 1px 1px 2px grey ;
    margin: 40px 200px 80px 200px;
    background-color: $backgroundColor;    
}