/* Couleur du logo */
$color-title: rgb(253, 202, 80);
$color-background-title: rgb(85, 156, 136);

/* Variables La note enchantée */
$color-background-note: rgb(252, 223, 219);

/* Variables Le délice des papilles */
$color-background-delice: rgb(249, 249, 249);

/* Variables Le chic à la française */
$color-background-chic: rgb(255, 245, 254);
$color-entrees: rgb(199, 116, 29);
$color-plats: rgb(166, 103, 152);
$color-desserts: rgb(110, 76, 201);

/* Variables La palette du goût */
$color-background-palette: rgb(253, 255, 253);



