$color-title: rgb(253, 202, 80);
$color-background-title: rgb(85, 156, 136);
$color-background-note: rgb(252, 223, 219);
$color-background-delice: rgb(249, 249, 249);
$color-background-palette: rgb(253, 255, 253);
$color-background-chic: rgb(255, 245, 254);

