footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-background-title;
    padding: 15px 20px 15px 20px;
    
    position: sticky; /* Fixe footer en bas                */
    bottom: 0px;      /* fonctionne avec position: sticky; */


    button {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: $color-background-title;
        :hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }

        a {
            color: $color-title;
            background-color: $color-background-title;
            display: block;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
