footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-background-title;
    padding: 20px 20px 20px 20px;
    
    position: sticky; /* Fixe footer en bas                */
    bottom: 0px;      /* fonctionne avec position: sticky; */


    a {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: $color-background-title;
        color: $color-title;
        display: block;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }
        @media (max-width: 599px) {
            font-size: 18px;
        }
    }
}
