.le_chic_a_la_francaise {
    font-size: 18px;
    text-align: center;
    padding-bottom: 220px;
    @include backgroundBorderAndShadowPage($color-background-chic);
    
    h2 {
        font-size: 35px;
        font-family: 'CroissantOne';
    }

    h3 {
        font-size: 20px;
        font-family: 'CroissantOne';
    }

    .entrees {
        color: $color-entrees;
    }
    
    .plats {
        color: $color-plats;
    }
    
    .desserts {
        color: $color-desserts;
    }
    
    table {
        font-size: 15px;
        padding-left: 150px;
        padding-right: 150px;
        width: 100%;
        .plat {
            text-align: left;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        .prix {
            text-align: right;
            padding-bottom: 5px;
            padding-top: 10px;
        }
    }
}