.le_chic_a_la_francaise {
    font-size: 18px;
    @include ProprietesCommunesPage($color-background-chic);
    
    h2 {
        font-size: 35px;
        font-family: 'CroissantOne';
        @include gradientColor(135deg, $colorEntreesChic, $colorPlatsChic, $colorDessertsChic);
    }

    h3 {
        font-size: 20px;
        font-family: 'CroissantOne';
    }

    .entrees {
        color: $colorEntreesChic;
    }
    
    .plats {
        color: $colorPlatsChic;
    }
    
    .desserts {
        color: $colorDessertsChic;
    }
    
    table {
        font-size: 15px;
    }
}