body {    
    .contenu {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: white;
        min-height: 1000px;
        @media (max-width: 599px) {
            min-height: 600px;
        }
        
        h2 {
            text-align: center;
            font-size: 25px;
            font-family: 'Playtime';
        }

        .menus {
            flex: 1;
            display: flex;
            flex-direction: column;
               
            & > div {
                display: flex;
                flex: 1 1 0;
                flex-direction: row;

                .conteneur_menu {
                    padding: 20px;
                    display: flex;
                    flex: 1 1 0;
                    min-height: 400px;
                    max-width: 300px;
                    @media (max-width: 599px) {
                        min-height: 200px;
                    }
                    
                    a {
                        flex: 1 1 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;

                        h2, h3 {
                            text-align: center;
                            padding-right: 8px;
                            padding-left: 8px;
                            margin: 0;
                            @media (max-width: 599px) {
                                font-size: 15px;
                            }
                        }
                        .zoom {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: scale(1);
                            transition-property: all;
                            transition-duration: 400ms;
                        }
                        &:hover .zoom  {
                            transform: scale(1.2);
                            opacity: 0.65;
                        }                        
                    }

                    .note {
                        font-family: 'Devonshire';
                        @include backgroundAndShadow($color-background-note);

                        .logoNote {
                            width: 25%;
                        }
                    
                        h2 {
                            color: black;
                            font-size: 20px;
                            @media (max-width: 599px) {
                                font-size: 16px;
                            }
                        }
                        h3 {
                            color: black;
                            font-size: 35px;
                            @media (max-width: 599px) {
                                font-size: 15px;
                            }
                        }
                    }
                    .chic {
                        font-family: 'CroissantOne';
                        @include backgroundAndShadow($color-background-chic);
                        
                        h2 {
                            font-size: 15px;

                            @include gradientColor(135deg, $colorEntreesChic, $colorPlatsChic, $colorDessertsChic);
                        }

                        h3 {
                            color: $colorEntreesChic;
                        }
                    }
                    .delice {
                        font-family: 'Dancing';
                        @include backgroundAndShadow($color-background-delice);

                        h2 {
                            @include gradientColor(135deg, $colorEntreesDelice, $colorPlatsDelice, $colorDessertsDelice);
                        }

                        h3 {
                            color: $colorPlatsDelice;
                        }
                    }
                    .palette {
                        font-family: 'Kaushan';
                        @include backgroundAndShadow($color-background-palette);

                        h2 {
                            @include gradientColor(135deg, $colorPalette1, $colorPalette2, $colorPalette3);
                        }

                        h3 {
                            color: $colorPalette2;
                        }
                    }
                }
            }
        }

        .carte {
            padding-bottom: 50px;
            
            section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .partie {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                
                    .vertical-mirror {
                        transform: scaleX(-1);
                    }

                    h4 {
                        position: relative;
                    }

                    h4:before {
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: currentColor; /* Prend la couleur  actuelle du texte */
                        transition: width 0.3s ease-in-out;
                    }
                    
                    h4:hover:before {
                        width: 100%;
                    }
                }
            }        

            table {
                width: 85%;
                .plat {
                    text-align: left;
                    padding-bottom: 5px;
                    padding-top: 10px;
                }
                
                .prix {
                    text-align: right;
                    padding-bottom: 5px;
                    padding-top: 10px;
                    @media (max-width: 599px) {
                        width: 30%;
                    }
                }
            }
        }
        .prochainement {
            color: $color-title;
            background-color: $color-background-title;
            border: none;
            border-radius: 8px;
            margin-bottom: 25px;
            padding: 2px 6px;
            width: 300px;
            align-self: center;
            width: 200px;
            font-size: 12px;
            font-family: sans-serif;
            
            h2 {
                margin-top: 4px;
                margin-bottom: 4px;
                margin-left: 5px;
                margin-right: 5px;
                text-align: center;
                
                .point {
                    animation-name: blink;
                    animation-duration: 1.4s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: both;
                }
                
                .point:nth-child(2) {
                    animation-delay: .2s;
                }
                
                .point:nth-child(3) {
                    animation-delay: .4s;
                }
            }
        }
    }
}


