body {    
    .contenu {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        background-color: white;
        min-height: 1200px;
        @media (max-width: 599px) {
            min-height: 600px;
        }
        overflow: hidden;
        
        h2 {
            text-align: center;
            font-size: 25px;
            font-family: 'Playtime';
        }

        .menus {
            flex: 1;
            display: flex;
            flex-direction: column;
               
            & > div {
                display: flex;
                flex: 1 1 0;
                flex-direction: row;
                @media (max-width: 599px) {
                    flex: 1;
                    flex-direction: column;
                }

                .conteneur_menu {
                    padding: 20px;
                    display: flex;
                    flex: 1 1 0;
                    min-height: 500px;
                    max-width: 400px;
                    min-width: 300px;
                    @media (max-width: 599px) {
                        min-height: 500px;
                    }
                    
                    a {
                        flex: 1 1 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;

                        h2, h3 {
                            text-align: center;
                            padding-right: 8px;
                            padding-left: 8px;
                            margin: 0;
                            @media (max-width: 599px) {
                                font-size: 15px;
                            }
                        }
                        .zoom {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: scale(1);
                            transition-property: all;
                            transition-duration: 400ms;
                        }
                        &:hover .zoom  {
                            transform: scale(1.2);
                            opacity: 0.65;
                        }                        
                    }

                    .note {
                        font-family: 'Devonshire';
                        @include backgroundAndShadow($color-background-note);

                        .logoNote {
                            width: 25%;
                        }
                    
                        h2 {
                            color: black;
                            font-size: 30px;
                            @media (max-width: 599px) {
                                font-size: 30px;
                            }
                        }
                        h3 {
                            color: black;
                            font-size: 35px;
                            @media (max-width: 599px) {
                                font-size: 25px;
                            }
                        }
                    }
                    .chic {
                        font-family: 'CroissantOne';
                        @include backgroundAndShadow($color-background-chic);
                        
                        h2 {
                            font-size: 25px;

                            @include gradientColor(135deg, $colorEntreesChic, $colorPlatsChic, $colorDessertsChic);
                        }

                        h3 {
                            color: $colorEntreesChic;
                            font-size: 20px;
                        }
                    }
                    .delice {
                        font-family: 'Dancing';
                        @include backgroundAndShadow($color-background-delice);

                        h2 {
                            @include gradientColor(135deg, $colorEntreesDelice, $colorPlatsDelice, $colorDessertsDelice);
                            @media (max-width: 599px) {
                                font-size: 25px;
                            }
                        }

                        h3 {
                            color: $colorPlatsDelice;
                            font-size: 30px;
                        }
                    }
                    .palette {
                        font-family: 'Kaushan';
                        @include backgroundAndShadow($color-background-palette);

                        h2 {
                            @include gradientColor(135deg, $colorPalette1, $colorPalette2, $colorPalette3);
                            @media (max-width: 599px) {
                                font-size: 30px;
                            }
                        }

                        h3 {
                            color: $colorPalette2;
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        /*  AIDE MEMOIRE STRUCTURE
            .contenu
                h2
                .carte
                    h3
                    .entrees
                        .partie
                            svg
                            h4
                            svg
                        .carte
                            .plat_prix
                                .plat
                                .prix
                    .plats
                        (Meme que dans .entrees)
                    .desserts
                        (Meme que dans .entrees)
        */

        .carte {
            padding-bottom: 50px;
            
            section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .partie {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                
                    .vertical-mirror {
                        transform: scaleX(-1);
                    }

                    h4 {
                        position: relative;
                    }

                    h4:before {
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: currentColor; /* Prend la couleur  actuelle du texte */
                        transition: width 0.3s ease-in-out;
                    }
                    
                    h4:hover:before {
                        width: 100%;
                    }
                }
            }        

            .carte {
                width: 85%;
                .plat_prix {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .plat {
                        text-align: left;
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                    
                    .prix {
                        flex-shrink: 0;
                        text-align: right;
                        margin-bottom: 5px;
                        margin-top: 10px;
                        @media (max-width: 599px) {
                            width: 30%;
                        }
                    }
                }
            }
        }
        .prochainement {
            color: $color-title;
            background-color: $color-background-title;
            border: none;
            border-radius: 8px;
            margin-bottom: 25px;
            padding: 2px 6px;
            width: 300px;
            align-self: center;
            width: 200px;
            font-size: 12px;
            font-family: sans-serif;
            
            h2 {
                margin-top: 4px;
                margin-bottom: 4px;
                margin-left: 5px;
                margin-right: 5px;
                text-align: center;
                
                .point {
                    animation-name: blink;
                    animation-duration: 1.4s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: both;
                }
                
                .point:nth-child(2) {
                    animation-delay: .2s;
                }
                
                .point:nth-child(3) {
                    animation-delay: .4s;
                }
            }
        }
    }
}


