.le_delice_des_papilles {
    font-family: 'Dancing';
    font-size: 18px;
    @include ProprietesCommunesPage($color-background-delice);
    
    h2 {
        font-size: 42px;
        @include gradientColor(135deg, $colorEntreesDelice, $colorPlatsDelice, $colorDessertsDelice);
        @media (max-width: 599px) {
            font-size: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .partie {    
        h3 {
            font-size: 22px;
        }

        svg {
            fill: url(#deliceGradient);
        }
    }

    table {
        font-size: 20px;
        @media (max-width: 599px) {
            font-size: 16px;
        }
    }
}