.le_delice_des_papilles {
    font-family: 'Dancing';
    font-size: 18px;
    @include ProprietesCommunesPage($color-background-delice);
    
    h2 {
        font-size: 42px;
        @include gradientColor(135deg, $colorEntreesDelice, $colorPlatsDelice, $colorDessertsDelice);
    }

    .partie {    
        h3 {
            font-size: 22px;
        }
    }

    table {
        font-size: 20px;
    }
}