h1 {
    text-align: center;
    font-size: 28px;
}
.la_note_enchantée {
    font-family: 'Devonshire';
    text-align: center;
    border: 1px solid $color-background-note;
    box-shadow: 1px 1px 2px grey ;
    margin: 40px 200px 80px 200px;
    background-color: $color-background-note;
    h2 {
        font-size: 40px;
        font-weight: normal;
    }
    h3 {
        font-size: 30px;
    }
    table {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        width: 100%;
        .plat {
            text-align: left;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        .prix {
            text-align: right;
            padding-bottom: 5px;
            padding-top: 10px;
        }
    }
}

.partie {
    img {
        display: block;
    }
    h3 {
        display: block;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

}

.titre_bas {
    svg, h3 {
        display: block;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
