.la_note_enchantée {
    font-family: 'Nickainley'; 
    @include ProprietesCommunesPage($color-background-note);
    
    h2 {
        font-size: 40px;
        font-weight: normal;
        font-family: 'Devonshire';
    }
    
    h3 {
        font-size: 30px;
        font-family: 'Devonshire';
    }
    
    table {
        font-size: 20px;
    }

    .titre_bas {
        display: flex;
        justify-content: center;
        align-items: center;
        
        h4 {
            margin-left: 10px;
        }
    }
}




