.la_palette_du_gout {
    font-family: 'Kaushan';
    text-align: center;
    padding-bottom: 150px;
    @include backgroundBorderAndShadowPage($color-background-palette);
    
    h1 {
        text-align: center;
        font-size: 28px;
    }

    h2 {
        font-size: 40px;
        font-weight: normal;
    }

    h3 {
        font-size: 30px;
    }
    
    table {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        width: 100%;
        .plat {
            text-align: left;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        .prix {
            text-align: right;
            padding-bottom: 5px;
            padding-top: 10px;
        }
    }  
}