.la_palette_du_gout {
    font-family: 'Kaushan';
    @include ProprietesCommunesPage($color-background-palette);
    
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 40px;
        font-weight: normal;
        @include gradientColor(135deg, $colorPalette1, $colorPalette2, $colorPalette3);
        @media (max-width: 599px) {
            font-size: 32px;
        }
    }

    .partie {
        h3 {
            font-size: 30px;
            @media (max-width: 599px) {
                font-size: 22px;
            }
        }
    }
    
    table {
        font-size: 20px;
        @media (max-width: 599px) {
            font-size: 16px;
        }
    }  
}