.la_palette_du_gout {
    font-family: 'Kaushan';
    @include ProprietesCommunesPage($color-background-palette);
    
    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 2.5em;
        font-weight: normal;
        @include gradientColor(135deg, $colorPalette1, $colorPalette2, $colorPalette3);
        @media (max-width: 599px) {
            font-size: 2em;
        }
    }

    .partie {
        h4 {
            font-size: 1.85em;
            margin-left: 15px;
            margin-right: 15px;
            @media (max-width: 599px) {
                font-size: 1.35em;
            }
        }

        svg {
            fill: url(#paletteGradient)
        }
    }
    
    .carte {
        font-size: 1.25em;
        @media (max-width: 599px) {
            font-size: 1em;
        }
    }  
}