/* Police "Le chic à la française */
@font-face {
    font-family: 'CroissantOne';
    src: url('base/croissant-one/CroissantOne-Regular.ttf');
}

/* Police "Le délice des papilles */
@font-face {
    font-family: 'Dancing';
    src: url('base/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

/* Police "La note enchantée */
@font-face {
    font-family: 'Devonshire';
    src: url('base/Devonshire/Devonshire-Regular.ttf');
}

@font-face {
    font-family: 'Nickainley';
    src: url('base/Nickainley/Nickainley-Normal.ttf');
}

/* Police "La palette du goût */
@font-face {
    font-family: 'Kaushan';
    src: url('base/kaushan-script/KaushanScript-Regular.otf');
}

/* Police h1 des pages menu */
@font-face {
    font-family: 'Playtime';
    src: url('base/Playtime/playtime.ttf');
}
