@font-face {
    font-family: 'CroissantOne';
    src: url('base/croissant-one/CroissantOne-Regular.ttf');
}
@font-face {
    font-family: 'Dancing';
    src: url('base/Dansing-Script/DancingScript-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Devonchire';
    src: url('base/Devonshire/Devonshire-Regular.ttf');
}
@font-face {
    font-family: 'Kaushan';
    src: url('base/KaushanScript-Regular.otf');
}
